<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Pay type:</b>
  <%= @order.pay_type %>
</p>

<%= link_to t('.back', :default => t("helpers.links.back")),
              orders_path, :class => 'btn btn-primary'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_path(@order), :class => 'btn' %>
<%#= link_to 'Edit',edit_order_path(@order) %> 
<%#= link_to 'Back', orders_path %>
