



   <% if notice %>
     <p id="notice"><%= notice %></p>
   <% end %>
  <%= render @cart %>
<!--
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              carts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_cart_path(@cart), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              cart_path(@cart),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
-->

