<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Smartphone Store</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Browse Products", products_path %></li>
            <li><%= link_to "Store", store_path %></li>
            <li><%= link_to "Orders", orders_path %></li>
            <li><%= link_to "Cart", carts_path %></li>
            <li><%= link_to "Contact Us" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<div 'data-pjax-container'>
<div class="container">
<%#= render :partial => "shared/flash_messages", :locals => {:flash => flash} %>
  <div class="row">
    <div class="span9"><%= yield %></div>
    <div class="span3">
 <div id="cart" >
	<% if @cart %>
	 <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
	 <%= render @cart %>
	<% end %>
	<% end %>
 </div>

      <h2>About Us</h2>
      <p>A smartphone is a mobile phone built on a mobile computing platform, with more advanced computing ability and connectivity than a feature phone.The first smartphones mainly combined the functions of a personal digital assistant (PDA) and a mobile phone or camera phone. Today's models also serve to combine the functions of portable media players, low-end compact digital cameras, pocket video cameras, and GPS navigation units. Modern smartphones typically also include high-resolution touchscreens, web browsers that can access and properly display standard web pages rather than just mobile-optimized sites, and high-speed data access via Wi-Fi and mobile broadband.</p>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
  $(document).ready(function() {

$("#quantity_quantity").live("blur", (function(){
var id = $(this).attr('num');
var value = $(this).val();
var v = {quantity : value}
$.ajax({
type : "POST",
url: '/line_items/'+id,
   data: { _method:'PUT', line_item : v},
headers: {
   'X-Transaction': 'POST Example',
       'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
   },
success: function(transport){
                jQuery('#cart').html(transport);

            }

});

}));
  }); //document.ready
</script>
</body>
</html>

